body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav {
  background-color: transparent;
  border-color: none;
  box-shadow: none;
}

.App {
  background-image: url("/back.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 100vh
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 90vh;
}

.about {
  display: flex;
  flex-direction: row;
  color: black;
  background-color: grey;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

.titleName {
  font-size: 7em
}

nav ul a {
  font-size: 1.5rem
}
