body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav {

  background-color: transparent;
  border-color: none;
  box-shadow: none;
  position: fixed;
}

.homeBack {
  width: 100%;
  height: auto;
}

.home {
  display: flex;
  justify-content: center;
  color: white;
  height: 100vh
}

.home-text {
  position: absolute;
  top: 40vh;
  color: #fff;
  text-shadow: 2px 2px #252525;
  z-index: 1;
}

.about {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: grey;
  justify-content: space-around;
  align-items: center;
  padding: 5vh;
}

p {
  text-align: left
}

.titleName {
  font-size: 7em
}

nav ul a {
  font-size: 1.5rem
}
