body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav {

  background-color: transparent;
  border-color: none;
  box-shadow: none;
  position: fixed;
}

.homeBack {
  width: 100%;
  height: auto;
}

.home {
  background-image: url("/back.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  color: white;
  height: 100vh
}

.home-text {
  position: absolute;
  top: 40vh;
  color: #fff;
  text-shadow: 2px 2px #252525;
  z-index: 1;
}

.about {
  display: flex;
  flex-direction: column;
  color: white;
  background: linear-gradient(to bottom right, rgb(150, 150, 150), rgb(99, 99, 105), rgb(58, 58, 58), black);
  justify-content: space-around;
  align-items: center;
  padding: 5vh;
}

.aboutText {
  text-align: left
}

.titleName {
  font-size: 7em
}

nav ul a {
  font-size: 1.5rem
}

.profile {
  border-radius: 500px
}

.skills i {
  font-size: 3rem;
  margin: 10px;
}

.resume {
  padding-top: 50px
}

.projects {
  background-image: url("/projects.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects h2 {
  color: white;
  text-shadow: 0.5px 0.5px 1px black, 0.8px 0.8px 2px white
}

.projectTitle {
  font-size: 5rem
}

.contact {
  height: 50vh
}

.projects-row {
  color: white;
  width: 80vw;
}

.project-mod {
  height: 40vh;
}

.nav .nav-wrapper div {
  display: flex;
  justify-content: flex-end;
}
